@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var phone = HttpContextAccessor.HttpContext.Session.GetString("CurrentPhone") ?? null;
    var user = HttpContextAccessor.HttpContext.Session.GetString("CurrentUser") ?? null;
}
<div class="container navigation-bar">
    <div class="navbar" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <div class="toggle">
                    <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
                        <span></span>
                    </a>
                </div>
                <div class="scroll-top-menu">
                    <a class="btn-scroll-top">
                        <span class="material-symbols-outlined">arrow_upward</span>
                    </a>
                </div>
                <aside class="sidebar">
                    <div class="side-inner">
                        <div class="profile">
                            <img src="~/images/brown-sofa-wooden-table-living-room-interior-with-plant-concrete-wall.png"
                                alt="Image" class="img-fluid">
                            <h3 class="name">Debby Williams</h3>
                            <span class="country">New York, USA</span>
                            @if (phone != null)
                            {
                                <a style="display: block;">@user</a>
                            }
                            else
                            {
                                <a style="display: block;">Sign in / Register</a>
                            }
                        </div>
                        <div class="nav-menu">
                            <ul>
                                <li class="active"><a href="#"><span class="icon-home mr-3"></span>Home</a></li>
                                <li><a href="#"><span class="icon-search2 mr-3"></span>Shop</a></li>
                                <li><a href="#"><span class="icon-notifications mr-3"></span>About Us</a></li>
                                <li><a href="#"><span class="icon-location-arrow mr-3"></span>Contact</a></li>
                                @if (phone != null)
                                {
                                    <li><a href='@Url.ActionLink("SignOut", "Authentication")'><span class="icon-location-arrow mr-3"></span>Sign Out</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </aside>
                <div class="shopping-bag">
                    <i class="fa-solid fa-bag-shopping"></i>
                    <div><span>1</span></div>
                </div>
                @if(phone != null)
                {
                    <div class="shopping-bag sign-out" style="right: -70px;">
                        <a href='@Url.ActionLink("SignOut", "Authentication")'><i class="fa-solid fa-right-from-bracket"></i></a>
                    </div>
                }
            </div>
            <div class="collapse navbar-collapse" id="centerednav">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                    @if (phone != null)
                    {
                        <li><a href="#"><span class="icon-location-arrow mr-3"></span>@user</a></li>
                    }
                    else
                    {
                        <li><a href='@Url.ActionLink("SignIn", "Authentication")'>Log In/Register</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>